src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="06d6af37-029d-467a-85c9-8130ed4526b6" >
		<http:listener-connection host="0.0.0.0" port="8081" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="securefiles/keystore.jks" keyPassword="mule123" password="mule123" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="7e094fe4-fb10-4b36-9aab-e0976a614fd5" >
		<http:listener doc:name="Listener" doc:id="5b7b19ee-e88e-4082-951c-e6aab0224510" config-ref="HTTP_Listener_config" path='/hello'/>
		<logger level="INFO" doc:name="Logger" doc:id="230bd4d7-b43c-44a1-bdef-97ff2de9a2b2" message="#[payload]" />
		<set-payload doc:name="Set Payload" doc:id="52e585dc-ccd7-458d-81d8-f5f3ceebf074" value='Welcome to Mule Training'/>
	</flow>
</mule>
